
<nav class='navbar'>
  {{#if session}}
    <div>
      <a onclick="location.href='/products'"><img src='https://res.cloudinary.com/abrahama19/image/upload/v1691861389/logoPS5_ryhtjh.jpg' alt='logo' width='200px' style='margin-left: 1.4rem;' /></a>
    </div>
    <div>
      <h2 class='navbar__title'>Bienvenid@: {{session.firstName}}</h2>
    </div>
    <div class='navbar__content'>
      <a href='/api/sessions/current' class='navbar__link cartInfo' id='{{session.cartID}}'>
        <button class='navbar__button button is-info'><span class='icon'></span><span>{{session.firstName}}</span></button></a>
      <button class='navbar__logout-btn button is-info' onclick="location.href='/chat'">
        
        Chatea
      </button>
      <a onclick="location.href='/carts/{{session.cartID}}'">
        <button class='navbar__button button is-info'><span class='icon'></span><span>Carrito</span></button></a>
      <button id='logout-btn' class='navbar__logout-btn button is-info'><span class='icon'><i class='material-icons'>exit_to_app</i></span><span>Salir</span></button>
    </div>
  {{else}}
    <p class='navbar__guest-message'>Bienvenid@ a la tienda</p>
    <a href='/?login=true' class='btn btn-primary'>INICIAR SESIÓN</a>
    <a href='/?register=true' class='btn btn-primary'>REGISTRO</a>
  {{/if}}
</nav>
<section>
  <div style='display: flex; justify-content: space-between; padding: 30px'>
    <div>
      ORDENAR POR PRECIO
      <a href='?page=1&limit={{paginationInfo.limit}}&sort=asc&price={{price}}&status={{status}}'>⬆️</a>
      <a href='?page=1&limit={{paginationInfo.limit}}&sort=desc&price={{price}}&status={{status}}'>⬇️</a>
    </div>
  </div>
  <div class='row product justify-content-evenly'>
    {{#each productsVisualice}}
      <div class='containerCard containerProd' style='width: 14rem; margin-top: 5px;' id='{{this._id}}'>
        <div style='margin-top: 10px; width:200px; height:200px;'>
          <a onclick="location.href='/products/{{this._id}}'"><img src={{this.thumbnail}} alt='foto de Product {{this.id}}' width="155" height="198" /></a>
        </div>
        <div class='card-body'>
          <h3 id='titleProduct' class='card-title'>{{this.title}}</h3>
          <p id='descriptionProduct' class='card-text'>{{this.description}}</p>
          <p id='priceProduct' class='card-text'>$ {{this.price}}</p>
          <button onclick="putIntoCart('{{this._id}}')" class="btn btn-info"><p>Add to 🛒</p></button>
          <br />
        </div>
      </div>
    {{/each}}
  </div>
</section>

<section>

  <div style='display: flex; justify-content: center; margin-top: 30px'>
    <div class='pagination'>
      {{#if paginationInfo.hasPrevPage}}
        <a href='?page={{paginationInfo.prevPage}}&limit={{paginationInfo.limit}}&sort={{sort}}&price={{price}}&status={{status}}'>⬅️ Anterior</a>
      {{/if}}
      <span style='margin-left: 20px; margin-right: 20px'>Página {{paginationInfo.page}} de {{paginationInfo.totalPages}}</span>
      {{#if paginationInfo.hasNextPage}}
        <a href='?page={{paginationInfo.nextPage}}&limit={{paginationInfo.limit}}&sort={{sort}}&price={{price}}&status={{status}}'>Siguiente ➡️</a>
      {{/if}}
    </div>
  </div>
</section>

<script src='/js/profile.js'></script>
<script src='/js/cart.js'></script>